@model ExampleFormEmailMVC.Models.GenericFormModel
@{
    ViewBag.Title = "Generic Form";
    ViewBag.FormTitle = "Generic Form";
    ViewBag.FormSubTitle = "Your basic form";
    Layout = "~/Views/Layouts/_LayoutForm.cshtml";
}

<div class="col-xs-5  offset-sm-1">
    <div class="form-group ">
        @Html.LabelFor(m => m.ExampleName)
        @Html.EditorFor(m => m.ExampleName)
    </div>


    <div class="form-group">
        @Html.LabelFor(m => m.ExamplePhoneNumber)
        @Html.EditorFor(m => m.ExamplePhoneNumber)
    </div>
</div>

<div class="col-xs-5 offset-sm-1 float-xs-right">
    <div class="form-group">
        @Html.LabelFor(m => m.ExampleAddress)
        @Html.EditorFor(m => m.ExampleAddress)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ExampleDate)
        @Html.EditorFor(m => m.ExampleDate)
    </div>
</div>

<button type="submit" class="btn btn-primary btn-lg"> Submit </button>